.haw-com {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 6px;
  &__box {
    border-radius: 100px;
    display: flex;
    align-items: center;
    padding: 6px 12px;

    &.blue {
      background: #eaecff;

      .haw-com__text {
        color: #051ed6;
        p {
          display: none;
        }
      }
    }
    &.red {
      background: #ffeaea;

      .haw-com__text {
        color: #d60505;
        p {
          display: none;
        }
      }
    }
    &.yellow {
      background: #fff7ea;

      .haw-com__text {
        color: #f90;
        p {
          display: none;
        }
      }
    }
  }
  &__text {
    display: flex;
    @include font(#9b9b9c, 14px, 16px, 600);
  }
}
