.container {
  width: 100%;
  height: 100%;
  max-width: $xxl;
  margin: 0 auto;
  padding: 0 115px;

  // 992-1200
  @include xl {
    max-width: $xl;
    padding: 0 115px;
  }
  // lg 768-992
  @include lg {
    max-width: $lg;
    padding: 0 40px;
  }
  //md 576-768
  @include md {
    max-width: $md;
    padding: 0 16px;
  }
  // sm 0- 576
  @include sm {
    max-width: $sm;
    padding: 0 16px;
  }
}
