@font-face {
  font-family: "Manrope";
  src: url("assets/fonts/manrope/Manrope-Light.ttf") format("ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Manrope";
  src: url("assets/fonts/manrope/Manrope-Regular.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Manrope";
  src: url("assets/fonts/manrope/Manrope-Medium.ttf") format("ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Manrope";
  src: url("assets/fonts/manrope/Manrope-SemiBold.ttf") format("ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Manrope";
  src: url("assets/fonts/manrope/Manrope-Bold.ttf") format("ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Manrope";
  src: url("assets/fonts/manrope/Manrope-ExtraBold.ttf") format("ttf");
  font-weight: 800;
}
@font-face {
  font-family: "Georgian";
  src: url("assets/fonts/georgian/NotoSerifGeorgian-VariableFont_wdth,wght.ttf")
    format("ttf");
  font-weight: 700;
}
