// /----------------- [ breakpoint media ]
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// color start
// /------------------- for background color
$bg-body: #f8f8fb;
$bg-header: #eff0f3;
$bg-darkblue: #051ed6;
//
//
// /------------------- for font color
$font-title: #000;
$font-par: #5a5a5a;
$font-blue: #051ed6;
//
//
// /------------------- for other color
$main-red: #d60505;
// color end
