.foter {
  width: 100%;
  background-color: $bg-footer;

  &-desktop {
    height: 389px;
    .foter-list-wrapper {
      display: flex;
      .left {
        min-width: 150px;
        &-logo {
          margin-top: 40px;
          width: 120px;
          height: 40px;
          margin-bottom: 19px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        &-contact {
          display: flex;
          flex-direction: column;
          margin-bottom: 130px;
          &__link {
            @include font(#9eaaff, 12px, 24px, 500);
            text-transform: capitalize;
          }
        }
        &-fido {
          @include font(#fff, 14px, 20px, 700);
          &__link {
            @include font(#fff, 14px, 20px, 700);
            text-decoration: underline;
          }
        }
      }
      .right {
        position: relative;
        margin-left: 67px;
        &-nav {
          margin-bottom: 29px;

          &__list {
            display: flex;
            margin-top: 50px;
          }
          &__item {
            margin-right: 32px;
            text-align: center;
            display: flex;
            align-items: center;
          }
          &__link {
            @include font(#fff, 16px, 20px, 500);
            text-transform: capitalize;
            &.active {
              font-weight: 700;
            }
          }
        }
        &-social {
          margin-bottom: 125px;
          &__title {
            @include font(#9eaaff, 12px, 14px, 500);
            margin-bottom: 25px;
          }
          &__box {
            display: flex;
            align-items: center;
          }
          &__link {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid #d9d9d9;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 15px;
          }
        }
        &-copyright {
          @include font(#9eaaff, 12px, 16px, 500);
          max-width: 500px;
          position: absolute;
        }
        &-biglogo {
          position: absolute;
          top: 187px;
          left: 35px;
          max-height: 190px;
          max-width: 570px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  .mobile-box {
    display: none;
  }

  // media
  @include md {
    &-desktop {
      display: none;
    }
  }
  @include sm {
    width: 100%;
    background-color: #fff;

    &-mobile {
      display: flex;
      padding: 0 16px;
      width: 100%;
      height: 79px;
      background-color: #fff;
      border-radius: 26px 26px 0px 0px;
      box-shadow: 2px 4px 8px rgb(104, 103, 103);
      .mobile-box {
        height: 79px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
          width: 24px;
          height: 24px;
        }
        &__link {
          text-align: center;
          font-size: 10px;
          line-height: 100%;
          font-weight: 500;
          color: #a7a6a6;
          &.active {
            color: #051ed6;
          }

          p {
            margin-top: 8px;
            text-transform: capitalize;
          }
        }
      }
    }
  }
}
