.layout {
  position: relative;
  @include sm {
    &-main {
      margin-bottom: 200px;
    }
    &-footer {
      position: fixed;
      width: 100%;
      left: 0;
      bottom: 0;
      z-index: 333;
    }
  }
}
