.advyel {
  width: 100%;
  height: 150px;
  position: relative;
  background-color: #ffd027;
  margin-bottom: 32px;

  display: flex;
  align-items: center;
  &-imgbox {
    height: 100%;
    width: 20%;
  }
  &-content {
    display: flex;
    flex-direction: column;
    // margin-left: 15%;
    .btn {
      margin-top: 30px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      margin: 20px auto;
      border-radius: 100px;
      background-color: #000;
      color: #fff;
    }
    @include md {
      margin-right: 0%;
      margin-left: 32%;
      text-align: center;
      justify-content: space-between;
      a {
        font-size: 22px;
      }
      .btn {
        font-size: 20px;
        height: 30px;
        width: 100px;
      }
    }
    @include sm {
      margin-right: 2%;
      margin-left: 37%;
      text-align: center;
      justify-content: space-between;
      a {
        font-size: 18px;
        line-height: 18px;
      }
      .btn {
        font-size: 20px;
        height: 30px;
        width: 100px;
      }
    }
  }
}
