.content {
  margin-top: 32px;

  .content-socialbox {
    width: 100%;
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
    &__view {
      display: flex;
      align-items: center;
      .view-box {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-right: 32px;
        img {
          width: 16px;
          height: 16px;
        }
        p {
          @include font(#9b9b9c, 14px, 16px, 600);
        }
      }
    }
    &__net {
      align-items: center;
      display: flex;

      a {
        margin-left: 12px;
        width: 16px;
        height: 16px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
    @include sm {
      display: none;
    }
  }
  &-header__title {
    @include font(#000, 36px, 52px, 800);
    width: 80%;
    margin-bottom: 32px;
    @include sm {
      font-size: 20px;
      line-height: 32px;
    }
  }
  &-header__des {
    @include font(#000, 20px, 37px, 600);
    margin-bottom: 32px;
    width: 95%;
    @include sm {
      font-size: 14px;
      font-weight: 500;
      line-height: 28px;
      width: 100%;
      margin-bottom: 24px;
    }
  }
  &-header__img {
    width: 100%;
    height: 470px;
    margin-bottom: 32px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 12px;
    }
    @include sm {
      height: 172px;
      margin-bottom: 22px;
    }
  }
  &-tagbox {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @include font(#000, 24px, normal, 700);
      text-transform: capitalize;
      margin-bottom: 16px;
      //   media
      @include sm {
        font-size: 20px;
      }
    }
    p {
      @include font(#000, 20px, 37px, 400);
      margin-bottom: 32px;
      //   media
      @include sm {
        font-size: 14px;
        line-height: 28px;
        font-weight: 500;
        margin-bottom: 16px;
      }
    }
    .sitata {
      padding: 32px 85px;
      background: #f2f2f2;
      margin-bottom: 32px;
      // /-----sitata
      @include sm {
        padding: 25px 35px;
      }
      &__text {
        display: flex;
        position: relative;
        span {
          position: absolute;
          top: -20px;
          left: -35px;
          @include font(#000, 64px, _, 700);
          font-family: "Georgian", sans-serif;
        }
        b {
          @include font(#000, 20px, 32px, 700);
          font-family: "Georgian", sans-serif;
          margin-left: 10px;
          // /--------medaia
          @include md {
            font-size: 16px;
          }
        }
      }
    }
    hr {
      width: 100%;
      height: 2px;
      background: #f1f1f1;
      margin-bottom: 32px;
    }
    ul {
      display: flex;
      width: 40%;
      flex-wrap: wrap;
      li {
        margin-right: 16px;
        margin-bottom: 10px;
        a {
          @include font(#051ed6, 14px, normal, 500);
          text-transform: capitalize;
        }
      }
      @include sm {
        width: 100%;
      }
    }
  }
}
